<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtang.account.mapper.PlatformMenuMapper">

    <select id="getMenuByUserId" resultType="com.jtang.common.model.account.entity.PlatformMenu" parameterType="long">
        SELECT
            *
        FROM
            platform_menu
        WHERE
            id IN (
            SELECT
                menu_id
            FROM
                platform_permission
            WHERE
                role_id IN ( SELECT role_id FROM platform_user_role WHERE user_id IN ( SELECT id FROM platform_user WHERE id = ${userId} ) )
            )
        ORDER BY
            id
        <include refid="com.jtang.account.mapper.CommonMapper.pageHelper"/>
    </select>

    <select id="getMenuList" resultType="com.jtang.common.model.account.response.PlatformMenuDTO" parameterType="com.jtang.account.query.PlatformMenuQueryDTO">
        SELECT
            p1.*,
            p2.menu_name AS pidMenuName
        FROM
            platform_menu p1
            LEFT JOIN platform_menu p2 ON p1.pid = p2.id
        <include refid="menu"/>
    </select>

    <!--    菜单列表总数-->
    <select id="getMenuListCount" resultType="long" parameterType="com.jtang.account.query.PlatformMenuQueryDTO">
        SELECT
            count(1)
        FROM
        platform_menu p1
        LEFT JOIN platform_menu p2 ON p1.pid = p2.id
        <include refid="menu"/>
    </select>

    <select id="getMenuTree" resultType="com.jtang.common.model.account.response.PlatformMenuDTO" parameterType="long">
        SELECT DISTINCT
            r_menu.menu_id,
            menu.*
        FROM
            platform_menu menu
            JOIN platform_role_menu r_menu ON menu.id = r_menu.menu_id
            JOIN platform_user_role u_role ON u_role.role_id = r_menu.role_id
        WHERE
            menu.is_menu = 1
            AND u_role.user_id = 1;
    </select>

    <sql id="menu">
        WHERE
        1 = 1
        <if test="queryDTO.menuName != null">
            AND p1.menu_name like '%${queryDTO.menuName}%'
        </if>
        <if test="queryDTO.isMenu != null">
            AND p1.is_menu = #{queryDTO.isMenu}
        </if>
        <if test="queryDTO.pid != null">
            AND p1.pid = #{pid}
        </if>
        <if test="queryDTO.url != null">
            AND p1.url like '%${queryDTO.url}%'
        </if>
        <if test="queryDTO.method != null">
            AND p1.method like '%${queryDTO.method}%'
        </if>
        <include refid="com.jtang.account.mapper.CommonMapper.pageHelper"/>
    </sql>



</mapper>
