<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jtang.account.mapper.PlatformRoleMenuMapper">

    <!--  不包含菜单-->
    <select id="getMenuIdByRoleId" parameterType="long" resultType="long" >
        SELECT
            r_menu.menu_id
        FROM
            platform_role_menu r_menu
            JOIN ( SELECT * FROM platform_menu WHERE is_menu = 0 ) m ON r_menu.menu_id = m.id
        WHERE
        r_menu.role_id IN
        <foreach item='item' index='index' collection='roleIds' open='(' separator=',' close=')'>
            #{item}
         </foreach>
    </select>

    <select id="getALLMenuIdByRoleId" parameterType="long" resultType="long" >
        SELECT
        r_menu.menu_id
        FROM
        platform_role_menu r_menu
        JOIN platform_menu m ON r_menu.menu_id = m.id
        WHERE
        r_menu.role_id IN
        <foreach item='item' index='index' collection='roleIds' open='(' separator=',' close=')'>
            #{item}
        </foreach>
    </select>

    <select id="getALLMenuByRoleId"  parameterType="long" resultType="com.jtang.common.model.account.response.HandleAllow">
        SELECT
            m.server as server,
            m.url as url,
            m.method as method
        FROM
            platform_role_menu r_menu
            JOIN platform_menu m ON r_menu.menu_id = m.id
        WHERE
            m.is_menu = 0
        AND
            r_menu.role_id IN
            <foreach item='item' index='index' collection='roleIds' open='(' separator=',' close=')'>
                #{item}
            </foreach>
    </select>





</mapper>
